# mandala-master-api

upstream mandala-master-api {
  server 127.0.0.1:{{ mandala_master_api_port }};
}

server {
  listen 80;
  server_name {{ host_name }};
  servar_name_in_redirect off;

  access_log  {{ nginx_log_dir }}/mandala-master-api/access.log ltsv;
  error_log   {{ nginx_log_dir }}/mandala-master-api/error.log warn;
  
  location / {
    proxy_pass http://mandala-master-api;
  }

  location = /favicon.ico { access_log off; log_not_found off; }
  location = /robots.txt  { access_log off; log_not_found off; }
  location ~ /\.          { access_log off; log_not_found off; deny all; }
}
