#!/bin/sh

curator ~/.curator/delete_indices_{{ curator_delete_days }}_days >/dev/null 2>&1
EXITVALUE=$?
if [ $EXITVALUE != 0 ]; then
    /usr/bin/logger -t curator "ALERT exited abnormally with [$EXITVALUE]"
fi
exit 0
